<html>
<head>
    <title>Inventory</title>
    <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
    <link rel="shortcut icon" href="{{url_for('static', filename = 'inv.png' )}}">

</head>

<body>


<div class="container">

    <div class="well text-center">

        <h1>Inventory Management System</h1>

    </div>
</div>
    <div class="container">
        <div class="well text-center">
            <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
                <a class="nav-item nav-link active" class="/home" href="/index">Home</a>
                <a class="nav-item nav-link" href="/product">Product</a>
                <a class="nav-item nav-link" href="/location">Location</a>
                <a class="nav-item nav-link" href="/movement">Product Movement</a>
                <a class="nav-item nav-link" href="/stockreport"><b>Stock Report</b></a>
        </div>
    </div>

</body>
</html>